.questions{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}


label{
    font-size: 18px;
}

h3{
    font-size: 24px;
}

.qestion_title{
    font-size: 48px;
}
.question_remark{
    font-size: 14px;
}