.header_title{
    color: rgb(199, 212, 212);
    margin-top: 20px;
    margin-bottom: 20px;
    height: 20px;
    font-size: 30px;
}


@media screen and (max-width: 853px){
    .header_title{
        font-size: 25px;
    }
}

@media screen and (max-width: 765px){
    .header_title{
        font-size: 20px;
    }
}