.footer__social-icon{
    margin-right: 10px;
    width: 16px;
    height: 16px;
  }


  @media screen and (max-width: 765px){
    .footer__social-icon{
      width: 10px;
      height: 10px;
      font-size: 10px;
    }
}